@tailwind base;
@tailwind components;
@tailwind utilities;

/* example */
@layer base {
  input, textarea {
    @apply block w-full;
  }
}

@layer components {
  .link {
    @apply border-b-2 border-gray-300 hover:border-cyan-500 hover:shadow-lg hover:bg-cyan-600 hover:text-white;
  }
}
